.app {
    padding: 30px 0 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.04em;
}

h2 {
    padding: 20px 0 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.04em;
}

.contactsEmptyText {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.04em;
}